
/* shared style*/
body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    font-size: 1.25rem;
    color: #FFF;
    font-weight: 600;
    border: none;
    margin: 20px;
    cursor: pointer;
    }


/*this is nav bar*/



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color:  #131313;
    font-size: 3rem;
    font-weight: 700;

}

nav > ul{
    display: flex;
}

nav  li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.12rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;

}

/*this is nav bar end*/
.feature-container{
    display: flex;
}

/*this is banner section start*/



.text-container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.title-text{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.text-description{
   color:#727272;
   font-size: 1rem;
   font-weight: 400;
}
.img{
   margin-top: 20px;
    max-width: 100%;
   
    
}

/*feature section*/

main{
    max-width: 1440px;
    margin: 0 auto;
}
   
    

.feature-container{
    display: flex;
    align-items: center;
    
    
}

.text-container1{
    padding-left: 60px;
    padding-right: 60px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.35rem;
    margin-top: 20px;
    margin-left: 20px;
}

.feature-title{
    font-size:3rem;
}

.one{
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.two{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.three{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}

.feature-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}


/*feature section end*/


/*responsive media quires*/
/*responsive mobile device*/

@media screen and (max-width: 576px)
{
    header{
        padding:20px;
    }
nav{
    flex-direction: column;
}

.feature-container{
    flex-direction: column;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    

}
}


/*responsive tablet device*/

@media screen and (min-width: 576px) and (max-width: 992px) {

    header{
        padding:20px;
    }

nav, .feature-container {
    flex-direction: column;
}
.text-container1{
    padding-left: 20px;
    padding-right: 20px;

}


}