*{
    margin: 0;
    padding: 0;
}



/* shared style*/
body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    font-size: 1.25rem;
    color: #FFF;
    font-weight: 600;
    border: none;
    margin: 20px;
    cursor: pointer;
    }


/*this is nav bar*/



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color:  #131313;
    font-size: 3rem;
    font-weight: 700;

}

nav > ul{
    display: flex;
}

nav  li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.12rem;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color: #424242;

}

/*this is nav bar end*/
.feature-container{
    display: flex;
}

/*this is banner section start*/
.container{
    margin-top: 40px;
}


.text-container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.title-text{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.text-description{
   color:#727272;
   font-size: 1rem;
   font-weight: 400;
}
.img{
   margin-top: 20px;
    max-width: 100%;
   
    
}

/*feature section*/

main{
    max-width: 1440px;
    margin: 0 auto;
}
   
    

.feature-container{
    display: flex;
    align-items: center;
    
    
}

.text-container1{
    padding-left: 60px;
    padding-right: 60px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.35rem;
    margin-top: 20px;
    margin-left: 20px;
}

.feature-title{
    font-size:3rem;
}

.one{
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.two{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.three{
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}

.feature-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}


/*feature section end*/

.featuredes-container{
    display: flex;
    align-items: center;
    margin-top: 40px;
   
}
.featuere-content{
    flex-direction: column;
    margin-top: 20px;
   margin-left: 100px;
   margin-right: 50px;
    gap: 24px;
}

.feature-sub-content{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px ;
    margin-bottom: 20px;
}

.feature-title1{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}
.feature-descrption{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.feature-img{
    height: 90%;
    margin-top: 50px;
    margin-left: 50px;
}

.experience{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 30px;
    color: #FFF;
    width: 350px;
    text-align: center;
    position: relative;
    bottom: 100px;
    
   
}

.experience, h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;

}
.experience p{
    font-size: 2rem;
    font-weight: 400;
}






/*responsive media quires*/
/*responsive mobile device*/

@media screen and (max-width: 576px)
{
    header{
        padding:20px;
    }
nav{
    flex-direction: column;
}

.feature-container{
    flex-direction: column;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10px;
    

}
.featuredes-container{
    flex-direction: column;
   margin-right: 25px ;
}
.feature-badge img{
  width: 80%;
  
    
}

.experience{
    padding: 20px; 
    width: 80%;
}
.feature-badge{
margin-left: 30px;
}
}


/*responsive tablet device*/

@media screen and (min-width: 576px) and (max-width: 992px) {

    header{
        padding:20px;
    }

nav, .feature-container {
    flex-direction: column;
}
.text-container1{
    padding-left: 20px;
    padding-right: 20px;

}
.featuredes-container{
    flex-direction: column;
   margin-right: 30px ;

}


.experience{
    padding: 20px; 
   
}
}